body {
    background: #f7f7f7;
}

.container {
    margin: auto;
}
.standard_head{
    margin:30px auto;
    
}
.standard_head h1{
    color: #273142;
    margin: 20px 0;
    font-size: 19px;
}
.time_row{
    color: #273142;
    display: flex;
    flex-direction: row;
}
.time_row ul{
    display: flex;
    flex-direction: row;
}
.time_row ul li{
    margin-right:15px;
    font-size: 13px;
    cursor: pointer;
    padding: 5px 10px;
}
.time_row ul li.active{
    border: 1px #DEE2EC solid;
    border-radius: 5px;
    background: #fff;
}

.category{
    width: 180px;
    margin:20px 0;
    background: #E7F1FF;
    display: flex;
    justify-content: center;
    border-radius: 10px
}
.category button{
    padding:10px 10px;
    width: 100%;
    background: none;
    border: 0;
    cursor:pointer; 
    outline: none;
}
.category button.active{
    background: #004CFF;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
} 
.type{
    margin:20px 0;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px
}
.type button{
    padding:10px 10px;
    width: auto;
    margin-right: 80px;
    background: none;
    border: 0;
    cursor:pointer; 
    outline: none;
}
.type button.active{
    color: #004CFF;
} 


.row {
    display: flex;
    height: 280px;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.item {
    width: 31%;
    position: relative;
    display: flex;
    border-radius:12px;
    flex-direction: column;
    box-shadow: 0px 10px 10px rgba(91, 50, 209, 0.1);
}

.bg1{
    color:#fff;
    background: #004CFF!important;
}

.bg3{
    color:#fff;
    background: #ff8834!important;
}

.bg2{
    color:#fff;
    background: #F164D0!important;
}

.bg4{
    color:#fff;
    background: #7A79FF!important;
}


.bg7{
    color:#fff;
    background: #679FFF!important;
}


.bg8{
    color:#fff;
    background: #FF4269!important;
}


.bg9{
    color:#fff;
    background: #FF8431!important;
}


.item .msg{
    position: absolute;
    bottom: 10px;
    left: 20px;
}
.item .msg h2{
    font-size: 12px;
    margin-bottom: 20px
}
.item .msg h2 span{
    vertical-align: bottom;
    display: inline-block;
    width: 12px;
    background: #ffff;
    margin-right: 5px;
    height: 12px;
    border-radius: 12px;
}

.item .chart{
    position: absolute;
    width: 80%;
    height: 90%;
    right: 0;
    bottom: 0;
}

.item .chart1{
    position: absolute;
    width: 50%;
    height: 90%;
    left: 0;
    bottom: 0;
}

.item .chart2{
    position: absolute;
    width: 50%;
    height: 90%;
    right: 0;
    bottom: 0;
}



.item .title {
    position: absolute;
    z-index: 6;
    top: 10px;
    left: 10px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-weight: bolder;
    box-sizing: border-box;
    padding: 0 15px;
    font-size: 19px;
}

.item .title1{
    left: 30px;
    top: 30px;
}

.item .title2{
    left:50%;
    top: 30px;
}

.item1{
    width: 100%;
    height: 600px;
    color: #fff;
    background:linear-gradient(318deg,rgba(103,159,255,1) 0%,rgba(135,126,249,1) 100%);
    margin-bottom: 20px;
}